{%extends 'base.html'%}

{% load crispy_forms_tags %}
{%block title%} Change Password {%endblock title%}
{%block content%}
<div class="container">
    <h1 class="h3 mb-0 text-gray-800 "> Change Password</h1>
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-2">Change <span style="color: green;">{{user}}'s</span> password</h1>
                        </div>
                        <form class="user" method="POST">
                            {% csrf_token %}
                            {{ form | crispy}}
                            <button type="submit" class="btn btn-success btn-block">Change</button>
                        </form><hr>
                        <a href="{% url 'index' %}" class="btn btn-primary btn-dark btn-block">
                           Back
                        </a>
                        <hr>
                        <div class="copyright text-center my-auto mb-3">
                            <span>Copyright &copy; The Programmer 2021</span>
                        </div>
                    </div>
                            
                    
                </div>
            </div>

        </div>

    </div>

</div>

{%endblock content%}